body{

background-color:  #DFABEB;
}
h1{
color: rgb(120, 245, 182);
}
h2{
  color: rgb(120, 245, 182);
}

h3{
color: rgb(120, 245, 182);
}
li{
  color: rgb(120, 245, 182);
}
p{
  color: rgb(120, 245, 182);
}
